@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);

body {
    overflow-x: hidden !important;
    margin: 0;
    padding: 0;
    font-family:"Open Sans", Arial, Verdana;
    font-weight: bold;
}

.app {
    overflow-x: hidden !important;
}

.header {
    height: 5vh;
    min-height: 60px;
    background-color: rgba(0, 0, 15, 0.9);
    top: 0;
    color: white;
    position: fixed;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
}

.logo {
    display: flex;
    padding-left: 3vw;
    font-size: 1.6rem;
}

.header ul {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
    outline: none;
}

.header li {
    color: white;
    display: list-item;
    margin-right: 2vw;
}


.banner {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    font-size: 5rem;
    text-align: center;
    color: white;
    width: auto;
    height: 99vh;
}

.banner p {
    margin: 0;
}

.arrow {
    font-weight: bolder;
    position: absolute;
    bottom: 0;
    padding: 5px;
    color: #2a2a2a;
    font-size: 3rem;
    background-color: white;
    margin-bottom: 0;
}


.hallo {
    font-size: 1.5rem;
    text-align: center;
    width: auto;
    height: auto;
    background-color: white;
    font-weight: bold;
    padding: 5vh 3vw;
}

.hallo p {
    font-size: 1.4rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 7vh;
    max-width: 85vw;
    text-align: center;
}

.hallo ul {
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: auto;
    align-content: center;
    align-items: center;
}

.hallo h1 {
    color: blueviolet;
}

.hallo li {
    width: auto;
    margin-top: 5vh;
    display: flex;
    flex-flow: row wrap;
}


.prod {
    max-width: 70vw;
}


.parall1 {
    width: auto;
    height: 27vh;
}

.about {

    padding-top: 18vh;
    width: auto;
    height: 70vh;
    background-color: lavender;
}

.about p {
    text-align: center;
    font-size: 4rem;
    margin-bottom: 3vh;
}

.parall2 {
    width: auto;
    height: 27vh;
}

.contact {
    padding-top: 5vh;
    text-align: center;
    font-size: 2.5rem;
    width: auto;
    height: auto;
    background-color: mediumpurple;
    color: white;
}

.footer {
    padding-top: 5vh;
    text-align: center;
    font-size: 2vh;
    color: white;
    height: 15vh;
    background-color: rgba(0, 0, 5, 0.9);
}

 button {
     outline: none;
     border-width: 0;
    background-color: darkslateblue;
    border-radius: 20px;
    font-weight: bolder;
    font-size: 1.3rem;
    color: lavender;
    padding: 15px;
}

 button:focus-within {
     background-color: lavender;
     color: darkslateblue;

 }

 input {
     min-height: 29px;
     outline: none;
     height: 3.9vh;
     border-radius: 12px;
     border-width: 0;
     padding-left: 15px;
     margin-bottom: 1.5vh;
     font-size: 1rem;
 }

 .discr {
     outline: none;
     border-width: 0;
     height: 15vh;
     border-radius: 12px;
     padding-left: 15px;
     padding-top: 1vh;
     font-size: 1rem;
 }


 h3 {
     color: mediumpurple;
     font-weight: bolder;
 }

 .footer ul {
     padding: 0;
     list-style-type: none;
     display: flex;
     justify-content: center;
     margin-bottom: 3vh;
 }

 .footer li {
     margin-right: 2vw;
 }

 .post {

     min-width: 250px;
     display: flex;
     justify-content: center;
     flex-direction: column;
     width: 35vw;
     margin-right: auto;
     margin-left: auto;
     padding-top: 5vh;
     padding-bottom: 4vh;
 }

 .contact p {
     margin: auto;
     width: 70vw;
 }