body {
    margin: 0;
    padding: 0;
    font-family: Arial, Verdana;
    font-weight: bold;
}

.header {
    height: 5vh;
    min-height: 60px;
    background-color: rgba(0, 0, 15, 0.9);
    top: 0;
    color: white;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
}

.logo {
    display: flex;
    padding-left: 3vw;
    font-size: 2.5vh;
}

.header ul {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
    outline: none;
}

.header li {
    color: white;
    display: list-item;
    margin-right: 2vw;
}


.banner {
    font-size: 10vh;
    text-align: center;
    color: white;
    padding-top: 30vh;
    /*width: auto;*/
    height: 80vh;
}

.banner p {
    margin: 0;
}

.hallo {

    font-size: 2vh;
    text-align: center;
    padding-top: 3vh;
    width: auto;
    height: auto;
    background-color: white;
    font-weight: bold;
    padding-bottom: 5vh;
}

.hallo ul {
    list-style-type: none;
    display: flex;
    width: 80vw;
    flex-direction: column;
    justify-content: space-around;
    height: auto;
    margin: auto;
}

.hallo li {
    width: 30vw;
}




.parall1 {
    width: auto;
    height: 27vh;
}

.about {

    padding-top: 18vh;
    width: auto;
    height: 70vh;
    background-color: lavender;
}

.about p {
    text-align: center;
    font-size: 7vh;
    margin-bottom: 3vh;
}

.parall2 {
    width: auto;
    height: 27vh;
}

.contact {
    padding-top: 5vh;
    text-align: center;
    font-size: 3vh;
    width: auto;
    height: auto;
    background-color: mediumpurple;
    color: white;
}

.footer {
    padding-top: 5vh;
    text-align: center;
    font-size: 2vh;
    color: white;
    height: 15vh;
    background-color: rgba(0, 0, 5, 0.9);
}

 button {
     outline: none;
     border-width: 0;
     margin-top: 2vh;
    background-color: darkslateblue;
    border-radius: 20px;
    /*height: 3vw;*/
    font-weight: bolder;
    font-size: 1.3rem;
    color: lavender;
    padding: 15px;
}

 button:focus-within {
     background-color: lavender;
     color: darkslateblue;

 }

 input {
     height: 3.5vh;
     border-radius: 19px;
     border-width: 0;
     padding-left: 1vw;
     margin-bottom: 2vh;
 }

 .discr {
     height: 15vh;
     border-radius: 18px;
     padding-left: 1vw;
     padding-top: 1vh;
     font-size: 1rem;
 }

 .hallo li {
     color: black;
     font-weight: normal;

 }

 h3 {
     margin-top: 19vh;
     color: mediumpurple;
     font-weight: bolder;
 }

 .footer ul {
     list-style-type: none;
     display: flex;
     justify-content: center;
     margin-bottom: 3vh;
 }

 .footer li {
     margin-right: 2vw;
 }

 .post {
     display: flex;
     justify-content: center;
     flex-direction: column;
     width: 26vh;
     margin-right: auto;
     margin-left: auto;
     padding-top: 5vh;
     padding-bottom: 4vh;
 }

 .contact p {
     margin: auto;
     width: 60vw;
 }